<!-- Start : Topbar -->
<header id="topbar">
  <nav class="navbar navbar-expand-lg navbar-light bg-dark p-0 px-4 justify-content-between align-items-center ">
    <!-- Page-Title -->
    <a class="header-wrap">
      <h1 class="page-title display-4">Administration</h1>
      <h4 class="page-sub-title">Administration</h4>
    </a>
    <!-- Header Tools -->
    <div class="header-tools d-flex align-items-center">
      <button type="button" class="btn-icon">
        <img src="../../../../assets/images/logo/e-mail.png" class="envelope" alt="envelope">
        <span class="badge badge-info rounded-circle">4</span>
      </button>
      <a href="#" class="nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        <div class="media align-items-center mx-3">
          <img src="../../../../assets/images/users/avatar.png" class="mr-3 rounded-circle user" alt="User-img">
          <div class="media-body mr-3">
            <h6 class="m-0 text-banner-color user-name">John Doe</h6>
          </div>
          <img src="../../../../assets/images/logo/arrow.png" class=" fa-arrow" alt="angle-down">
        </div>
      </a>
    </div>
    <!-- End: Header Tools -->
  </nav>
</header>
<!-- End : Topbar -->
