<!-- Start : Main header -->
<header id="topbar">
  <nav class="navbar navbar-light bg-white navbar-expand-xl fixed-top shadow ">
    <div class="container">
      <!-- Brand Logo : 1Rivet -->
      <a href="" class="navbar-brand"><img src="assets/img/logo/1rivet-logo.png" class="img-fluid"
          alt="1rivet-logo"></a>
      <!-- Navbar toggle button -->
      <button class="navbar-toggler border-0" data-toggle="collapse" data-target="#collapse_target">
        <span class="fas fa-bars"></span>
      </button>
      <!-- Collapsible Section menu -->
      <!-- Add show class -->
      <div id="collapse_target" class="collapse navbar-collapse mr-auto" #remove>
        <ul class="navbar-nav ml-auto" (click)="showMenu()">
          <li class="nav-item" *ngFor="let item of menuItems">
            <a href="#" class="nav-link" routerLink="{{item.url}}" (click)="selectedMenuItem()" >{{item.name}}</a>
          </li> 
        </ul>
      </div>
    </div>
  </nav>
</header>
<!-- End : Main header -->
