<!-- Start : Main header -->
<header id="topbar">
  <nav class="navbar navbar-light bg-white navbar-expand-xl fixed-top shadow ">
    <div class="container">
      <!-- Brand Logo : 1Rivet -->
      <a href="" class="navbar-brand"><img src="assets/img/logo/1rivet-logo.png" class="img-fluid"
          alt="1rivet-logo"></a>
      <!-- Navbar toggle button -->
      <button class="navbar-toggler border-0" data-toggle="collapse" data-target="#collapse_target">
        <span class="fas fa-bars"></span>
      </button>
      <!-- Collapsible Section menu -->
      <div id="collapse_target" class="collapse navbar-collapse mr-auto">
        <ul class="navbar-nav ml-auto ">
          <li class="nav-item">
            <a href="#" class="nav-link"> ABOUT US </a>
          </li>
          <li class="nav-item ">
            <a href="#" class="nav-link"> OUR DIVISION </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link"> OUR WORK </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link"> PRODUCT </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link"> INSIGHTS </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link"> NEWS </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" routerLink="/Careers"> CAREERS </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link"> CONTACT US </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<!-- End : Main header -->
