// Sidebar SCSS
#sidebar {
    min-width: 90px;
    z-index: 4;
    transition: all 250ms ease-in;

    @include media-breakpoint-down(sm) {
        visibility: hidden;
        opacity: 0;
        min-width: 0;
        display: none;
    }

    .header-sidebar {
        height: 90px;
    }

    .nav-container {
        overflow-y: auto;
        overflow-x: hidden;
    }
}

.nav-item {
    padding: 1rem;

    .nav-link {
        box-shadow: none;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.25s ease;
        cursor: pointer;

        .navbar-icon {
            transition: all 0.25s ease;
            height: 25px;
            width: 25px;
        }

        .dashboard-icon {
            background: url("assets/images/logo/dashboard_active.png");
            background-size: 25px;
        }

        .settings-icon {
            background: url("assets/images/logo/settings_active.png");
            background-size: 25px;
        }

        .help-icon {
            background: url("assets/images/logo/help_active.png");
            background-size: 25px;
        }
    }

    &:hover,
    &.active {
        background: $background-gradient;

        .navbar-icon {
            background-size: 25px;
        }

        .dashboard-icon {
            background: url("assets/images/logo/dashboard_hover.png");
            background-size: 25px;
        }

        .settings-icon {
            background: url("assets/images/logo/settings_hover.png");
            background-size: 25px;
        }

        .help-icon {
            background: url("assets/images/logo/help_hover.png");
            background-size: 25px;
        }
    }

    .submenu {
        position: absolute;
        list-style: none;
        visibility: hidden;
        opacity: 0;
        margin-left: 45px;
        padding: 0;
        transition: 0.4s ease-in-out;
        transform: translate(40px, -57px);
        background: $darker;
        border-radius: 5px;
        overflow: hidden;

        .nav-link {
            text-align: center;
            font-weight: $font-weight-bold;
            color: $white;
            padding: 10px;
        }
    }

    &:hover {
        .submenu {
            visibility: visible;
            opacity: 1;

            .nav-link {
                &:hover {
                    background: $background-gradient;
                }
            }
        }
    }
}

#sidebarToggle:checked+#sidebar {
    visibility: visible;
    opacity: 1;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
    @include media-breakpoint-up(md) {
        visibility: hidden;
        opacity: 0;
        min-width: 0;
        display: none;
    }
}

.mobile-panel {
    z-index: 2000!important;
    img {
        height: 100px;
    }

    .accordion {
        li {
            list-style-type: none;
            padding: 10px 0;
            font-size: .875rem;
        }

        .sidebar-logo {
            height: 15px;
            padding-right: 15px;
        }
    }

}