<!-- Start : Table -->
<div class="px-2">
  <table class="table table-borderless data-table">
    <!-- Table heading -->
    <tr class="text-secondary-text-color ">
      <th class="s-no py-0">NO.</th>
      <th class="domain-name py-0">DOMAIN</th>
      <th class="owner-name py-0">OWNER</th>
      <th class="activity-name py-0">ACTIVITY</th>
      <th class="description py-0">DESCRIPTION</th>
      <th class="actions text-center py-0">ACTIONS</th>
    </tr>
    <!-- Start : Table Body -->
    <tbody>
      <tr class="data-table-row">
        <td class="s-no"> 1</td>
        <td class="domain-name">Domain</td>
        <td class="owner-name">Owner</td>
        <td class="activity-name"> fdsfsfsdfsdf </td>
        <td class="description" title="{{ onboardingList.description }}"> sdfsdfsdfsdfsdfsdf </td>
        <td class="actions text-center">
          <button title="Edit">
            <img src="../../../assets/images/logo/actions_edit.png" alt="Edit-icon">
          </button>
          <button title="Delete">
            <img src="../../../assets/images/logo/actions_delete.png" alt="delete-icon">
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <!-- End : Table -->
</div>