// Topbar SCSS
#topbar {
    height: 90px;

    .header-wrap {
        .page-sub-title {
            position: relative;
            color: $lighter;
            font-weight: $font-weight-bold;
            z-index: 1;
            &::after {
                content: attr(data-title);
                position: absolute;
                font-weight: $font-weight-bold;
                color: $gray-800;
                font-size: 3rem;
                z-index: -1;
                top: -65%;
                width: 250%;
            }
        }

        .page-title {
            margin: 0;
            font-weight: $font-weight-bold;
            color: $gray-800;
        }
    }
}

.header-tools {
    z-index:3;
    .btn-icon {
        position: relative;
        box-shadow: none;
        outline: none;

        .envelope {
            box-shadow: none;
            outline: none;
            height: 20px;

        }

        .badge {
            position: absolute;

            top: -13px; //magic numbers
            right: -6px; //magic numbers
        }

    }

    .user {
        height: 45px;
    }

    .fa-arrow {
        height: 10px;
    }
}

.user-name {
    @include media-breakpoint-down(sm) {
        display: none;
    }
}