<!-- Start : Footer -->
<footer id="footer" class="py-4 d-flex flex-column justify-content-center align-items-center bg-white">
  <div class="container">
    <div class="d-flex flex-column justify-content-center align-items-center">
      <figure class="figure">
        <img src="assets/img/logo/1rivet-logo.png" alt="">
      </figure>
      <p>Washington, D.C. | New York | Toronto | India</p>
      <p>Copyright ©<span class="text-primary">1</span>Rivet 2019</p>
      <p>Privacy Policy | Sitemap</p>
    </div>
  </div>
</footer>
<!-- End : Footer -->
