<!-- *****
  Start : Sidebar 
****** -->

<!-- Header sidebar -->
<div class="h-100 d-none d-md-flex flex-column">
    <header class="header-sidebar d-flex justify-content-center align-items-center">
        <img src="../../../../assets/images/logo/logo.png" alt="Brand-Logo">
    </header>
    <!-- Start : Sidebar-Content -->
    <nav class="flex-grow-1 nav-container">
        <ul class="navbar-nav h-100 pt-4">
            <li class="nav-item active dashboard">
                <a class="nav-link">
                    <span class="navbar-icon dashboard-icon"></span>
                </a>
                <ul class="submenu">
                    <li><a [routerLink]="['/manage-vacancy']" class="nav-link">Manage Vacancy</a></li>
                    <li><a [routerLink]="['/manage-leave']" class="nav-link">Manage Leave </a></li>
                </ul>
            </li>
            <li class="nav-item help">
                <a href="#" class="nav-link">
                    <span class="navbar-icon help-icon"></span>
                </a>
            </li>
            <li class="nav-item settings">
                <a href="#" class="nav-link">
                    <span class="navbar-icon settings-icon"></span>
                </a>
            </li>
        </ul>
    </nav>
</div>
<!-- End : Sidebar-Content -->

<!--****************
  Mobile screen sidebar Design 
  *******************-->

<div class=" container mobile-panel d-flex flex-column d-md-none p-5 text-light h-100">
    <label class="fa fa-times ml-auto" for="sidebarToggle"></label>
    <div class="dropdown text-center">
        <img src="../../../../assets/images/users/avatar.png" class="ml-3 mr-2 rounded-circle user" alt="User-img">
        <h3 class="py-2">John Doe</h3>
        <h6 class="pb-2"> johndoe@1rivet.in</h6>
        <button class="btn btn-primary px-4">Sign-out</button>
    </div>
    <hr class="bg-primary my-4 w-100">
    <!-- SideMenu -mobile -->
    <ul class="accordion text-white p-0 m-0" id="side-accordion">
        <li data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <div class="d-flex">
                <img src="../../../../assets/images/logo/dashboard_hover.png" alt="dashboard-img" class="sidebar-logo">
                <span>Dashboard</span>
            </div>
            <ul>
                <li id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#side-accordion">
                    Manage Vacancies
                </li>
                <li id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#side-accordion">
                    Manage Leave
                </li>
            </ul>
        </li>
        <li>
            <img src="../../../../assets/images/logo/settings_hover.png" alt="dashboard-img" class="sidebar-logo">
            <span>Settings</span>
        </li>
        <li>
            <img src="../../../../assets/images/logo/help_hover.png" alt="dashboard-img" class="sidebar-logo">
            <span>Help</span>
        </li>
    </ul>
</div>
<!-- Mobile screen sidebar Design :End-->

<!-- End : Sidebar -->
