<!-- Start : 1rivet introduction -->
<section id="introduction" class="card position-relative text-white">
  <div class="card-img-overlay">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-10 col-md-8 text-center">
        <div class="container">
          <h2 class="h2 underline">Imagine more at 1Rivet</h2>
          <p class="py-2"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat,
            quidem?
            Beatae
            dolore quae ducimus tempore quas rerum voluptates delectus? Ipsum tempore illo quia eos
            commodi
            iste eligendi omnis dolorum aperiam</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End : 1rivet introduction -->
