<!-- Start : Employee verification -->
<section id="verification" class="py-5">
  <div class="container">
    <!-- title -->

    <div class="row justify-content-around">
      <!-- Employee verification form -->
      <div class="col-sm-12 col-md-10  col-lg-5">
        <h2 class="underline underline-start pb-2 mb-5">Employee verification</h2>
        <form action="">
          <!-- Name of the verifier  -->
          <div class="form-group">
          
            <input type="text" class="form-control" id="verifier" aria-describedby=""
              placeholder="Name of the verifier">
          </div>
          <!-- Verify email address -->
          <div class="form-group">
            <input type="email" class="form-control" id="email" aria-describedby="" placeholder="Verify email address">
          </div>
          <!-- Company name -->
          <div class="form-group">
            <input type="text" class="form-control" id="verifier" aria-describedby="" placeholder="Company name">
          </div>
          <!-- Reason -->
          <div class="form-group">
            <textarea class="form-control" id="reason" placeholder="Reason" rows="4" required></textarea>
          </div>
          <div class="input-group">
            <div class="custom-file">
              <input type="file" class="custom-file-input" id="CustomFile" required>
              <label class="custom-file-label" for="CustomFile">Choose file...</label>
            </div>
          </div>
          <!-- Submit button -->
          <div class="form-group mt-3">
            <button class="btn btn-primary px-4">Submit</button>
          </div>
        </form>
      </div>
      <!-- Illustration -->
      <div class="col-sm-12 col-md-5 d-none d-lg-block">
        <figure class="w-100 figure pt-5">
          <img src="assets/img/background/case_study_illustrations.jpg" alt="" class="w-100 pt-5">
        </figure>
      </div>
    </div>
  </div>
</section>
<!-- End : Employee verification -->
