<!-- Content Wrapper -->
<div class="d-flex flex-column h-100 overflow-hidden">
    <!-- Content Header Selector -->
<one-talent-header (isModalShow)="addDesignationFormShow($event)"></one-talent-header>
<div class="overflow-auto ">
    <!-- Table Selector -->
<one-talent-content [contentData]="designationList" (updateEvent)="editDesignationData($event)" (deleteEvent)="openDeleteDialog($event)"></one-talent-content>
<!-- Input Form -->
<one-talent-overlay-modal *ngIf="isFormShow" (isModalShow)="addDesignationFormShow($event)"></one-talent-overlay-modal>
</div>
</div>
