    <!-- Start : Gallery -->
    <article class="album tz-gallery">
      <div class="container-fluid">
          <div class="row">
              <div class="col-sm-12  col-lg-8">
                  <figure class="figure w-100 position-relative">

                      <a class="lightbox text-white" href="assets/img/album/diwali.png">
                          <img src="assets/img/album/diwali.png" alt="Diwali Video" class="img-fluid w-100 ">

                          <span class="card-img-overlay overlay d-flex flex-column align-items-center justify-content-center">
                              <h2 class="h2 ">Diwali</h2>
                              <span class="fa fa-play-circle mt-2"></span>
                          </span>
                      </a>
                  </figure>

              </div>
              <div class="col-md-12 col-lg-4 d-flex flex-column justify-content-between ">
                  <div class="row">
                      <div class="col-sm-12 col-md-6 col-lg-12 ">
                          <figure class="figure w-100  position-relative">
                              <a class="lightbox text-white" href="assets/img/album/cricket.2.png">
                                  <img src="assets/img/album/cricket.2.png" alt=" Cricket Event" class="img-fluid w-100 ">

                                  <span class="card-img-overlay overlay d-flex flex-column align-items-center">
                                      <h5 class="h5">Cricket</h5>
                                      <p>
                                          <small class="text-justify">
                                              Lorem Ipsum is simply dummy text of the printing and
                                              typesetting
                                              industry. Lorem Ipsum has been the industry's standard dummy
                                              text
                                              ever
                                              since the 1500s, when an unknown printer took a galley of type
                                              and
                                              scrambled it to make a type specimen book. It has survived not
                                              only
                                              five
                                              centuries, but also the leap into electronic typesetting,
                                              remaining
                                              essentially unchanged. It was popularised in the 1960s with the
                                              release of Letraset sheets containing Lorem Ipsum passages, and
                                              more
                                              recently with desktop publishing software like Aldus PageMaker
                                              including versions of Lorem Ipsum
                                          </small>
                                      </p>
                                  </span>
                              </a>
                          </figure>
                      </div>
                      <div class="col-sm-12 col-md-6 col-lg-12  ">
                          <figure class="figure w-100 mt-2 position-relative">
                              <a class="lightbox text-white" href="assets/img/album/navratri.png">
                                  <img src="assets/img/album/navratri.png" alt=" Navratri Festival" class="img-fluid w-100 ">
                                  <span class="card-img-overlay overlay d-flex flex-column align-items-center">
                                      <h5 class="h5">Navratri 2018</h5>
                                      <p>
                                          <small class="text-justify">
                                              Lorem Ipsum is simply dummy text of the printing and
                                              typesetting
                                              industry. Lorem Ipsum has been the industry's standard dummy
                                              text
                                              ever
                                              since the 1500s, when an unknown printer took a galley of type
                                              and
                                              scrambled it to make a type specimen book. It has survived not
                                              only
                                              five
                                              centuries, but also the leap into electronic typesetting,
                                              remaining
                                              essentially unchanged. It was popularised in the 1960s with the
                                              release of Letraset sheets containing Lorem Ipsum passages, and
                                              more
                                              recently with desktop publishing software like Aldus PageMaker
                                              including versions of Lorem Ipsum
                                          </small>
                                      </p>
                                  </span>
                              </a>
                          </figure>
                      </div>
                  </div>
              </div>
          </div>
          <div class="row ">
              <div class="col-sm-12 col-md-6 col-lg-4 ">
                  <figure class="figure w-100 mt-4 position-relative">
                      <a class="lightbox text-white" href="assets/img/album/christmas.png">
                          <img src="assets/img/album/christmas.png" alt="Christmas" class="img-fluid w-100 ">
                          <span class="card-img-overlay overlay d-flex flex-column align-items-center">
                              <h5 class="h5">Christmas 2018</h5>
                              <p>
                                  <small class="text-justify">
                                      Lorem Ipsum is simply dummy text of the printing and typesetting
                                      industry. Lorem Ipsum has been the industry's standard dummy text
                                      ever
                                      since the 1500s, when an unknown printer took a galley of type and
                                      scrambled it to make a type specimen book. It has survived not only
                                      five
                                      centuries, but also the leap into electronic typesetting, remaining
                                      essentially unchanged. It was popularised in the 1960s with the
                                      release of Letraset sheets containing Lorem Ipsum passages, and
                                      more
                                      recently with desktop publishing software like Aldus PageMaker
                                      including versions of Lorem Ipsum
                                  </small>
                              </p>
                          </span>
                      </a>
                  </figure>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-4">
                  <figure class="figure w-100 mt-4 position-relative">
                      <a class="lightbox text-white" href="assets/img/album/birthday.png">
                          <img src="assets/img/album/birthday.png" alt="Birthday Decoration" class="img-fluid w-100 ">
                          <span class="card-img-overlay overlay d-flex flex-column align-items-center">
                              <h5 class="h5">Birthday Decoration</h5>
                              <p>
                                  <small class="text-justify">
                                      Lorem Ipsum is simply dummy text of the printing and typesetting
                                      industry. Lorem Ipsum has been the industry's standard dummy text
                                      ever
                                      since the 1500s, when an unknown printer took a galley of type and
                                      scrambled it to make a type specimen book. It has survived not only
                                      five
                                      centuries, but also the leap into electronic typesetting, remaining
                                      essentially unchanged. It was popularised in the 1960s with the
                                      release of Letraset sheets containing Lorem Ipsum passages, and
                                      more
                                      recently with desktop publishing software like Aldus PageMaker
                                      including versions of Lorem Ipsum
                                  </small>
                              </p>
                          </span>
                      </a>
                  </figure>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-4 ">
                  <figure class="figure w-100 mt-4 position-relative">
                      <a class="lightbox text-white" href="assets/img/album/birthday.png">
                          <img src="assets/img/album/birthday.png" alt="Birthday Celebration" class="img-fluid w-100 ">
                          <span class="card-img-overlay overlay d-flex flex-column align-items-center">
                              <h5 class="h5">Birthday Celebration</h5>
                              <p>
                                  <small class="text-justify">
                                      Lorem Ipsum is simply dummy text of the printing and typesetting
                                      industry. Lorem Ipsum has been the industry's standard dummy text
                                      ever
                                      since the 1500s, when an unknown printer took a galley of type and
                                      scrambled it to make a type specimen book. It has survived not only
                                      five
                                      centuries, but also the leap into electronic typesetting, remaining
                                      essentially unchanged. It was popularised in the 1960s with the
                                      release of Letraset sheets containing Lorem Ipsum passages, and
                                      more
                                      recently with desktop publishing software like Aldus PageMaker
                                      including versions of Lorem Ipsum
                                  </small>
                              </p>
                          </span>
                      </a>
                  </figure>
              </div>
          </div>
      </div>
  </article>
  <!-- End : Gallery -->