<div class="text-center">
  <h2 class="h2 underline">1Rivet Culture</h2>
  <p class="px-5 py-4 text-justify">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Enim et
    dicta veritatis ad
    rem ipsam, aperiam atque, suscipit tempore quod, magnam voluptate. Harum corrupti laudantium
    tenetur quod temporibus, eos quisquam. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    Facere commodi eligendi incidunt explicabo magni officiis illo minus, molestiae repellendus est
    unde quaerat dicta blanditiis facilis nobis odio cum quisquam? Esse?</p>
</div>
