<div class="overflow-hidden d-flex flex-column h-100 w-100">      
<one-talent-header (selectStatusEvent)="getselectedStatusData($event)" (searchTextEvent)="getLeavesBySearchText($event)" (selectFromDateEvent)="fromDateFilter($event)" (selectToDateEvent)="toDateFilter($event)" [leaveStatusData]="leaveStatus"></one-talent-header>
<div class="overflow-auto w-100 h-100">
<one-talent-content [contentData]="leaves" (approveEvent)="approveLeave($event)" (rejectEvent)="rejectLeave($event)" (cancelRequestEvent)="approveCancelRequestedLeave($event)" (rejectRequestEvent)="rejectCancelRequestedLeave($event)"></one-talent-content>
</div>
</div>