<aside class="form-section bg-white flex-grow-1 d-flex flex-column">
  <!-- Start: Form-Head -->
  <div class="d-flex justify-content-between align-items-center p-3 bg-light border border-bottom-primary">
    <h5 class="text-tertiary m-0">Add Activity</h5>
    <a>
      <img src="../../../assets/images/logo/close.png" alt="close" class="cursor-pointer">
    </a>
  </div>
  <!-- End: Form-Head -->
  <!-- Start: Form-Content -->
  <div class="d-flex overflow-auto pt-3 w-100 h-100">
    <form class="form px-3 w-100">
      <div class="form-group">
        <label for="Domain">Domain Name</label>
        <select class="form-control form-control-sm" id="Domain">
          <option>domain
          </option>
        </select>
      </div>
      <div class="form-group">
        <label for="Owner">Owner Name</label>
        <select class="form-control form-control-sm" id="Owner">
          <option>
            owner
          </option>
        </select>
      </div>
      <div class="form-group">
        <label for="actvity-name">Activity Name *</label>
        <input class="form-control form-control-sm w-100" type="text">
      </div>
      <div class="form-group">
        <label for="activity-description">Activity Description</label>
        <textarea class="form-control form-control-sm" rows="3"></textarea>
      </div>
    </form>
  </div>
  <footer class="form-foot p-3 d-flex align-items-center justify-content-between">
    <span class="text-danger">* Indicates required field</span>
    <button type="button" class="btn btn-info px-4">SAVE</button>
  </footer>
  <!-- End: Form-Content -->
</aside>
<!-- Form End -->