// Global level Rules
html,
body {
    width: 100%;
    height: 100%;
    font-family: $font-family-base;
    color: $dark;
    font-size: 1rem;
}

body {
    background-color: $body-bg;
}

.main-container{
    height: inherit;
    #toggleMenu{
        display: none;
    }
}
a {
    &:hover {
        text-decoration: none;
        box-shadow: none;
    }
    &:focus{
        text-decoration:none;
        box-shadow: none;
    }
}
