// To apply transition
// ARG: $duration as ms
@mixin transition($duration:400ms) {
    transition: all $duration ease-in-out;
}
// To add an ellipsis
// ARG: $truncation-boundary as maximun width in [any CSS Unit]
@mixin truncate($truncation-boundary) {
    max-width: $truncation-boundary;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
// To apply borders
// ARG: $for as [all,top,right,bottom,left],$type as [any border type value], $size as [any CSS unit], $color as [any CSS unit]
@mixin border($for, $type, $size, $color) {
    @if $for==all {
        border: $size $type $color;
    }

    @else if $for==top {
        border-top: $size $type $color;
    }

    @else if $for==right {
        border-right: $size $type $color;
    }

    @else if $for==bottom {
        border-bottom: $size $type $color;
    }

    @else if $for==left {
        border-left: $size $type $color;
    }
}