<!-- Start : Sidebar -->
<nav class="nav-sidebar ">
  <!-- Header sidebar -->
  <header class="header-sidebar d-flex justify-content-center align-items-center">
    <a href="#" class="brand-logo"><img src="../../../../assets/images/logo/logo.png" alt="Brand-Logo"></a>
  </header>
  <!-- Start : Sidebar-Content -->
  <ul class="navbar-nav mt-4">
    <li class="nav-item active dashboard">
      <a href="#" class="nav-link">
        <span class="navbar-icon dashboard-icon"></span>
      </a>
      <ul class="dashboard-submenu">
        <li class="submenu-item p-2" routerLink="/domain/list">Domains</li>
        <li class="submenu-item p-2" routerLink="/designation/list">Designations</li>
      </ul>
    </li>
    <li class="nav-item help">
      <a href="#" class="nav-link">
        <span class="navbar-icon help-icon"></span>
      </a>
    </li>
    <li class="nav-item settings">
      <a href="#" class="nav-link">
        <span class="navbar-icon settings-icon"></span>
      </a>
    </li>
  </ul>
  <!-- End : Sidebar-Content -->
</nav>
<!-- End : Sidebar -->
