<!-- Current Vacancies filter -->
<form action="">
    <div class="form-row ">
        <!-- Dropdown : Select Country -->
        <div class="form-group col-xs-12 col-sm-6 col-md-3 col-lg-auto pl-0 ">
            <select name="Country" id="country" class="form-control">
                <option value="1" selected disabled class="text-wrap">Select Country</option>
                <option value="2">two</option>
                <option value="1">One</option>
            </select>
        </div>
        <!-- Dropdown : Select Domain -->
        <div class="form-group col-xs-12 col-sm-6 col-md-3 col-lg-auto  ">
            <select name="Domain" id="domain" class="form-control">
                <option value="1" selected disabled class="text-wrap">Select Domain</option>
                <option value="2">two</option>
                <option value="1">One</option>
            </select>
        </div>
        <!-- Dropdown : Select Technology -->
        <div class="form-group col-xs-12 col-sm-6 col-md-3 col-lg-auto  ">
            <select name="Technology" id="technology" class="form-control">
                <option value="1" selected disabled class="text-wrap">Select Technology</option>
                <option value="2">two</option>
                <option value="1">One</option>
            </select>
        </div>
        <!-- Dropdown : Select Role -->
        <div class="form-group col-xs-12 col-sm-6 col-md-3 col-lg-2  ">
            <select name="Role" id="role" class="form-control">
                <option value="1" selected disabled class="text-wrap">Select Role</option>
                <option value="2">two</option>
                <option value="1">One</option>
            </select>
        </div>


        <!-- Button : Filter button -->
        <div class="form-group col-xs-12 col-sm-6 col-md-3 col-lg-auto">
            <button class="btn btn-primary w-100"> Find Open Position </button>
        </div>
    </div>
</form>