<!-- Section heading -->

<div class="overflow-hidden d-flex flex-column h-100 w-100">
    <one-talent-header (showEvent)="openVacancyModal($event)"></one-talent-header>

    <!-- Start: Table -->
    <div class="overflow-auto w-100  h-100">
        <one-talent-content [contentData]="vacancies" (updateDataEvent)="updateVacancy($event)"
            (deleteDataEvent)="deleteVacancy($event)" (changeStatusEvent)="changeJobStatus($event)" ></one-talent-content>
        <one-talent-overlay-modal (showEvent)="openVacancyModal($event)" *ngIf="isShowModal"></one-talent-overlay-modal>
    </div>
</div>
<!-- End : Table -->
