<!-- Start : Current Vacancies -->
<section id="vacancies" class="py-5 bg-white">
  <div class="container">
    <!-- Title -->
    <div class="row no-gutters">
      <!-- Title -->
      <div class="col col-xl-8 offset-xl-4">
        <h2 class="h2 underline underline-start pb-2"> Current Vacancies </h2>
        <p class="">Lorem, ipsum dolor spsum dolor spsum dolor spsum dolor spsum dolor spsum</p>
      </div>
    </div>

    <div class="row no-gutters">
      <!-- Map -->
      <div class="col-12 col-md-4 d-none d-xl-block">
        <one-talent-map></one-talent-map>
      </div>
      <div class="col-sm-12 col-xl-8">
        <one-talent-open-positions></one-talent-open-positions>
        <one-talent-vacancy-card></one-talent-vacancy-card>
        <one-talent-recruitment-status></one-talent-recruitment-status>
      </div>
    </div>
  </div>
</section>
