// Global level Rules
*{
    font-family: $font-family-base !important;   
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: $font-family-base;
    color: $dark;

}

body {
    background-color: $body-bg;
    overflow: hidden;
}

#toggleMenu {
    display: none;
}

li,select,
label {
    cursor: pointer;
}