// Description : All variables used in app are declared here


// Start : Changed Bootstrap Variable
// basic colors
$white: #fff;
$gray-100: #f1f7ff;
$gray-200: #e9ecef;
$gray-300: #f4f5f7;
$gray-400: #f5f6fa;
$gray-500: #adb5bd;
$gray-600: #666E87;
$gray-700: #626984;
$gray-800: #3d4964;
$gray-900: #25282f;
$black: #000;

$blue: #2c99f8;
$badge-color: #2178fe;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #da2127;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #5bc592;
$teal: #20c997;
$cyan: #17a2b8;
$navy-blue: #28334b;
$navyblue-light: #36425d;
$data-table-row: #8E93A7;

$background-gradient: linear-gradient(to bottom right, #70a7ff 0%, #2278ff 100%);

// Theme color
$primary: $gray-700;
$secondary: $gray-300;
$success: $green;
$info: $blue;
$warning: $yellow;
$danger: $red;
$light: $gray-400;
$dark: $navyblue-light;
$darker: $navy-blue;
$lighter : $gray-100;
$secondary-text-color:$gray-500;
$table-row-color: $gray-400;
$tertiary:$gray-600;


$theme-colors: ("primary": $primary,
"secondary": $secondary,
"success": $success,
"info": $info,
"warning": $warning,
"danger": $danger,
"light": $light,
"dark": $dark,
"darker": $darker,
"lighter" :$lighter,
"tertiary": $tertiary,
"secondary-text-color": $secondary-text-color,
"data-table-row": $data-table-row);
//border-color-change
$border-color :lighten($gray-500, 20%);
$input-border-color: $gray-500;

// Disable rounded corners
$enable-rounded: true;

// Fonts 

$enable-responsive-font-sizes:true;

$font-family-montserrat: 'Montserrat',
sans-serif;


$font-family-base: $font-family-montserrat;


$font-size-base: .875rem;
$font-size-lg: $font-size-base * 1.5;
$font-size-sm: $font-size-base * .875;

$font-weight-lighter: lighter;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-semibold: 500;
$font-weight-bold: 600; //updated
$font-weight-bolder: bolder;

$font-weight-base: $font-weight-normal;
$line-height-base: 1.5;

$h1-font-size: $font-size-base * 3;
$h2-font-size: $font-size-base * 2.5;
$h3-font-size: $font-size-base * 1.75;
$h4-font-size: $font-size-base * 1.5;
$h5-font-size: $font-size-base * 1.25;
$h6-font-size: $font-size-base;

$headings-font-weight: 500;
$headings-line-height: 1.2;
$headings-color: null;

$display1-size: 6rem;
$display2-size: 5.5rem;
$display3-size: 4.5rem;
$display4-size: 3.0rem; //updated 

$display1-weight: 300;
$display2-weight: 300;
$display3-weight: 300;
$display4-weight: 300;
