<!-- Start: Form -->

<aside *ngIf="isModalShow" class="form-section bg-white flex-grow-1 d-flex flex-column">
  <div
    class="form-heading d-flex justify-content-between align-items-center flex-shrink-0 p-3 bg-light border border-bottom-primary">
    <h5 class="text-tertiary m-0">{{ modalHeading }}</h5>
    <a (click)="addAssetsFormHide()">
      <img src="../../../assets/images/logo/close.png" alt="close" class="cursor-pointer">
    </a>
  </div>
  <div class=" d-flex overflow-auto pt-3 w-100 h-100">
    <form class="form mx-3 w-100" [formGroup]="addAssetForm" (ngSubmit)="addAssetForm.valid">
      <div class="form-group">
        <label for="domain-name">Asset Name *</label>
        <input class="form-control form-control-sm w-100" type="text"  formControlName="assetType" (keypress)="validation($event)" oneTalentRemoveSpace
        [ngClass]="{'is-invalid':assetType.touched && assetType.invalid}">
        <div class="invalid-feedback">
          <div *ngIf="assetType.errors?.required">Asset Name is required</div>
          <div *ngIf="assetType.errors?.maxlength">Allow only thirty character</div>
          <!-- <div *ngIf="assetType.errors?.invalidcharacters">Do Not Allow</div> -->
        </div>
      </div>
    </form>
  </div>
  <footer class="form-foot p-3 d-flex align-items-center justify-content-between">
    <span class="text-danger">* Indicates required field</span>
    <button type="button" class="btn btn-info px-4" (click)="addAsset()">SAVE</button>
  </footer>
</aside>

<!-- Form End -->